<h1>Page de confirmation d'identifiaction</h1>

<p>
  <% if @log_test == true %> Connexion réussie ! <a href="/">Ta page d'accueil</a>
  <% end %>
  <% if @log_test == false %> Echec connexion ! <a href="/registration/new">Essaies à nouveau la connexion</a>
  <% end %>
</p>
