<br><br>

<p>
<<<<<<< HEAD
  <% if @log_test == true %> Connexion réussie ! <a href="/user/home">Ta page d'accueil</a>
=======
  <% if @log_test == true %> Connexion réussie ! <a href="/user/moussaillon">Ta page d'accueil</a>
>>>>>>> d87b28354011d8e9a3ea15316dde2d53c65ffbf9
  <% end %>
  <% if @log_test == false %> Echec connexion ! <a href="/registration/new">Essaies à nouveau la connexion</a>
  <% end %>
</p>
