
<h1>Bienvenue sur The Gossip Project</h1>
<br><br>

<p>Tu veux découvrir les meilleurs potins de la toile ? Crée ton compte dès maintenant !</p>
<p><a href="/user/new"><button type="button" name="button">Sign up</button></a></p>

<br><br>

<p>Tu es déja inscrit ?</p>
<p><a href="/registration/new"><button type="button" name="button">Sign in</button></a></p>
